@model frushgah.Models.group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameGroup)
            @Html.DisplayFor(model => model.nameGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picGroup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idGroup">ویرایش</a> |
    <a asp-action="Index">Back to List</a>
</div>
