@model IEnumerable<frushgah.Models.group>
  @{ ViewData["Title"] = "Index"; 
  Layout="_LayoutMain";
   }
<style>
    .card {
        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.8);
        transition: 0.3s;
        width: 90%;
        align-items: center;
        text-align: center;
        background-color: transparent;
        background-image:linear-gradient(black,transparent);
    }

        .card:hover {
            box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.8);
            background-image: linear-gradient(45deg,black,transparent);
        }

.container {
  padding: 2px 16px;
}

.btn{
    box-shadow:4px 8px 8px 4px rgba(0,0,0,0.8);
}

</style>
  <h1>گروه اصلی</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    @{
                        if (item.picGroup != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.picGroup); string
                            imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="100" height="100" />
                        }
                    }
                    <div class="container">
                        <h4><b class="text-white">@Html.DisplayFor(modelItem => item.nameGroup)</b></h4>
                        <a asp-controller="subGroups" asp-action="user" class="btn btn-outline-yellow btn-rounded" asp-route-idGroup="@item.idGroup">زیر مجموعه</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

    







 

