@model frushgah.Models.detail
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Create</h1>

<h4>detail</h4>
<hr />
<div class="row">
    @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% error*@
    @if (ViewBag.er == "1")
    {
        <script>
            alert('خطا در ثبت اطلاعات')
        </script>
    }
    @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% error*@
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="idSubGroup" class="control-label"></label>
                <input asp-for="idSubGroup" class="form-control" />
                <span asp-validation-for="idSubGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameDetail" class="control-label"></label>
                <input asp-for="nameDetail" class="form-control" />
                <span asp-validation-for="nameDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input id="price" asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="pic1" class="form-label">انتخاب تصویر</label>
                <input type="file" class="form-control" name="pic1" id="pic1">
            </div>
            <div class="mb-3">
                <label asp-for="pic2" class="form-label">انتخاب تصویر</label>
                <input type="file" class="form-control" name="pic2" id="pic2">
            </div>
            <div class="mb-3">
                <label asp-for="pic3" class="form-label">انتخاب تصویر</label>
                <input type="file" class="form-control" name="pic3" id="pic3">
            </div>
            <div class="form-group">
                <label asp-for="tozihat" class="control-label"></label>
                <textarea asp-for="tozihat" class="form-control" cols="5" rows="5"></textarea> 
                <span asp-validation-for="tozihat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    }
